<fl-main list="list"></fl-main>
<table class="table">
<thead>
  <tr>
    <th>Name 
	  <button type="button" class="btn btn-default btn-xs" data-ng-click="list.toggleSorting();">
	    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
	  </button>
	</th>
  </tr>
</thead>
<tbody>
  <tr data-ng-repeat="rec in list.records"><td>{{rec['name']}}</td></tr>
</tbody>
</table>
<div data-ng-if="list.options.listURL">
	<p>Server response:</p>
	<p><pre style="height:200px;scroll:auto;"><code>{{list.server_response | json: 2}}</code></pre></p>
</div>